<html>
<head>
    <title>{% block subject %}OVERWRITE SUBJECT IN CONTENT TEMPLATE{% endblock %}</title>
    <style type="text/css">
        html, body, * {
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 300;
        }
    </style>
</head>
<body>
{% block content %}OVERWRITE CONTENT IN CONTENT TEMPLATE{% endblock %}
</body>
</html>